.answer{
  color: #555555;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 400;
  text-align: end;
  margin-right: 15px;
}
.history{
  color: #979797;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
}

